.header, .container{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 60px;
    background: linear-gradient(to left, #dd3ed5, #2a33ac );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text ;
}

.inputField{
    padding: 10px;
    width: 40%;
    border: none;
}

.btn{
    padding: 20px;
    background-color: #2a33ac;
    border: none;
    border-radius: 6px;
}

body{
    background-image: url(https://images.unsplash.com/photo-1506619216599-9d16d0903dfd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1498&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-color: #2a33ac;
}

.toDoAdded{
    background: #B97A95;
    list-style-type: none;
    height: 60px;
    width: 50%;
    text-align: center;
    color: white;
    font-size: 20px;
    border-bottom: 1px solid #FDD2BF ;
}

.toDoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toDoCompleted{
    background: #50CB93;
    color: black;
    font-weight: bold;
    text-decoration: line-through;
    transition: all 1s ease;
}


@media all and (max-width: 800px){
    h1{
        font-size: 40px;
    }
}

@media all and (max-width: 500px){
    h1{
        font-size: 20px;
    }
}